---
layout: layout/shadow.njk

pagination:
    data: contentful
    size: 1
    alias: shadowbox
title: Shadows
subtitle: Made by Caroline Kilg
---

<div class="container">
<div class="borderholder"></div>
<img src="{{ shadowbox.fields.frameLeft.fields.file.url }}" class="frame left" alt="{{ shadowbox.fields.frameLeft.fields.title }}">
<img src="{{ shadowbox.fields.frameRight.fields.file.url }}" class="frame right" alt="{{ shadowbox.fields.frameRight.fields.title }}">
<img src="{{ shadowbox.fields.frameBottom.fields.file.url }}" class="frame bottom" alt="{{ shadowbox.fields.frameBottom.fields.title }}">
<img src="{{ shadowbox.fields.layer1Left.fields.file.url }}" class="layer1 left" alt="{{ shadowbox.fields.layer1Left.fields.title }}">
<img src="{{ shadowbox.fields.layer1Right.fields.file.url }}" class="layer1 right" alt="{{ shadowbox.fields.layer1Right.fields.title }}">
<img src="{{ shadowbox.fields.background.fields.file.url }}" class="backgr roof" alt="{{ shadowbox.fields.background.fields.title }}">
<img src="{{ shadowbox.fields.layer2Bottom.fields.file.url }}" class="layer2 backgr bottom" alt="{{ shadowbox.fields.layer2Bottom.fields.title }}">

</div>